:root{
  --main-color: #010B26;
  --second-color: #ffff;
  --third-color:#F7F7F7;/* Menu */
  --fourth-color: #E8E7E7;/* Movie-Container background */
  --fifth-color: #1CD0F9;
  --sixth-color: #666;
}

