:root {
  --main-color: #010b26;
  --second-color: #ffff;
  --third-color: #f7f7f7; /* Menu */
  --fourth-color: #e8e7e7; /* Movie-Container background */
  --fifth-color: #1cd0f9;
  --sixth-color: #666;
  --seven-color: #003bcb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width:1020px){
  body{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1.4% 1fr;    
  }      
}
/* Header */

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 65% 15%;
  grid-auto-rows: 50px;
  grid-auto-columns: auto;
  background-color: var(--main-color);
  z-index: 1100;
}

.main-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header__title {
  margin: 0;
  color: var(--second-color);
  font-size: 0.6rem;
}
.main-header__text {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.main-header__sign {
  background-color: var(--main-color);
  border: none;
  outline: none;
  color: var(--second-color);
  font-size: 0.7rem;
}


@media screen and (min-width: 500px) {
  .main-header__title {
    font-size: .8rem;
  }
  .main-header__sign {
    font-size: .8rem;
  }
}

@media screen and (min-width: 800px) {
  .main-header__title {
    font-size: 1rem;
  }
  .main-header__sign {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1020px) {
  .main-header{
    grid-row: 1/2;
    position: fixed;
    grid-column: 1/3;
  }
  .main-header__title {
    font-size: 1.4rem;
  }
  .main-header__sign {
    font-size: 1.4rem;
  }
}

.main-header__sign:active {
  transform: scale(0.9);
  color: var(--sixth-color);
}
/* Hamburger menu */
.btn-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  border-radius: 100%;
  background-color: var(--second-color);
  z-index: 1200;
  outline: none;
}

@media screen and (min-width:1020px){
  .btn-container{
    display: none ;
  }
}


.main-menu {
  position: fixed;
  top: 6%;  
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.main-menu--responsive {
  transform: translateX(0);
}

@media screen and (min-width: 1020px){
  .main-menu{
    position: fixed;    
    right: 85%;
    grid-row: 2/3;
    grid-column: 1/2;
    transform: translateX(0);
  }
}
.main-menu__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-bottom: 1px solid var(--main-color);
  padding: 0;
  margin: 0;
}


.main-menu__item {
  margin: 10px;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-menu__link {
  color: var(--main-color);
  text-decoration: none;
}

.main-menu__img {
  width: 25px;
  height: 25px;
}

/* Movie Section */
.movie {
  margin: 0 auto;
  background-color: var(--fourth-color);
  min-height: auto;
}


@media screen and (min-width:1020px){
  .movie{
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;    
  }
}

.movie__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0 auto;
  width: 80%;
}
.movie__title {
  margin: 0;
  padding-top: 4rem;
}

.movie-article {
  width: 100%;
  background-color: var(--second-color);
  transition: transform 0.5s ease;
}
.movie-article:hover {
  transform: scale(1.1);
}
.movie-article__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.movie-article__content {
  margin: 0 auto;
  width: 90%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-article__structure {
  display: flex;
  justify-content: space-between;
}
.movie-article__title {
  margin: 0;
}

.movie-article__data {
  margin: 5px;
}

.movie-article__data--qualification {
  color: var(--fifth-color);
  font-size: 0.9rem;
  font-weight: 700;
}
.movie-article__data--boldQualification {
  color: var(--main-color);
  font-weight: 900;
}
.movie-article__data--gray {
  color: var(--sixth-color);
  font-size: 0.8rem;
}

.movie-article__data--dark {
  color: var(--main-color);
  font-size: 0.9rem;
  font-weight: 800;
}

